.tweets-container {
  width: 50%;
  margin: 10px auto;
}
h2 {
  width: 150px;
  margin: 30px auto;
  text-align: flex-start;
}
.tweet {
  border-top: solid #A58CDC;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}