
.tweet_form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    margin: 30px;
  }
  .name_field{
    width: 200px;
    margin-bottom: 30px;
  }


  .post_form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .post_form input[type='radio']{
    display: none;
  }
  .post_form label{
    position: relative;
    background: linear-gradient(135deg, #f7e9d7 0%, #e6c8a5 100%);
    border-radius: 8px;
    color: gray;
    cursor: pointer;
    font-size: 30px; 
  }
  .post_form label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 9px; 
    color: gray;
  }
  .post_form label:hover,
  .post_form label:hover ~ label,
  .post_form input[type='radio']:checked ~ label{
    color: #ffcc00;
  }


  .star-rating {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1em;
    font-size: 25px;
  }
  .star-rating-front {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .star-rating-back {
    display: inline-block;
    color: #ccc;
    
  }

  .button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 500px;
  margin: 40px auto; /* 中央に配置 */
}

.button-grid > div {
  flex: 0 0 calc(50% - 12px); /* 2列にする */
  text-align: center;
}

.button-grid form {
  display: inline-block; /* ボタンサイズを調整 */
}

.logout-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px; /* 他の要素と距離を空ける */
  margin-bottom: 40px; /* ページ最下部との余白 */
}

.logout-button {
    background: #d6d300; 
    color: #FFF;
    box-shadow: 0px 0px 0px 5px #d6d300;
    border: dashed 1px #FFF;
}
